@font-face {
    font-family: Ringbearer;
    src: url(Fonts/RINGM___.TTF);
}
@font-face {
    font-family: Martel;
    src: url(Fonts/Martel-Regular.ttf);
}
*{
    background-color: black;
    box-sizing: border-box;
}
html{
    background-color: black;
    font-family: Martel, Arial;
    color: #aaa;
}
html hr{
    border-color: #ffeeb3;
}
.bodycontainer{
    margin: 0%;
}
.navheadercontainer{
    background-color: black;
    align-items: baseline;
}
.navheadercontainer label{

}
.navbox{
    width: 100px;
    height: 100px;
}
#navboxAnmelden{
    background-color: green;
}
#navboxRegistrieren{
    background-color: blue;
}
.navheadercontainer ul{
    list-style-type: none;
    overflow: hidden;
}
.navheadercontainer li{
   float: left;
}
.navheadercontainer a{
    text-decoration: none;
    color: #ffeeb3;
    text-shadow: 0 0 10px orange;
}
main{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
}
main h2{
    font-family: Martel, Arial;
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}
main p{
    display: flex;
}
.footercontainer{
    background-color: black;
    text-align: center;
    color: #ffeeb3;
}
.footercontainer h2{
    font-family: Martel, Arial;
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
    text-align: center;
}
.footercontainer ul{
    color: #ffeeb3;
    text-align: center;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.footercontainer a{
    text-align: center;
    color: #ffeeb3;
}
.footercontainer a:hover{
    color: tomato;
}
.footercontainer a:active{
    color: red;
}
.footercontainer a:visited{
    color: #aaa;
}
.footercontainer p{
    text-align: center;
}