
@font-face {
    font-family: 'Ringbearer';
    src: url(../Fonts/RINGM___.TTF);
}
@font-face {
    font-family: 'Martel';
    src: url(../Fonts/Martel-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-family: 'Martel', Arial;
    color: whitesmoke;
}
html hr{
    border-color: #ffeeb3;
}
body{
    background-color:black;
    font-family: 'Martel', Arial;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.divheader{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.headercontainer{
    font-family: 'Ringbearer', Arial;
    color: #ffeeb3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    z-index: 2;
    background-color: black;
    text-decoration: none;
}
.headercontainer a{
    text-decoration: none;
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
}
.headercontainer label{
    font-size: 4em;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    white-space: nowrap;
}
.headercontainer nav{
    margin-right: 5%;
}
.headercontainer h2{
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    font-size: 2em;
}
#video-background{
    position: fixed;
    width: 100%;
    z-index: -1;
}
video{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main{
    padding-top: 10em;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 1;
}
/*main a{
    height: auto;
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
}
main a:visited{
    color: #ffeeb3
}
main a:hover{
    color: tomato;
}
main a:active{
    color: red;
}*/
main h1{
    color: #f5f5f5;
    text-shadow: 0px -2px 4px #fff,
                 0px -2px 10px #FF3,
                 0px -10px 20px #F90,
                 0px -20px 40px #C33;
    font-size: 4em;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 1;
}
main h2{
    font-family: 'Martel', Arial;
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    font-size: 2em;
    z-index: 2;
    margin-bottom: 2%;
}
#divFire h2{
    margin-bottom: 0px;
    color: #f5f5f5;
    text-shadow: 0px -2px 4px #fff,
                 0px -2px 10px #FF3,
                 0px -10px 20px #F90,
                 0px -20px 40px #C33;
}
#divLava h2{
    margin-bottom: 0px;
    color: #f5f5f5;
    color: orangered;
    text-shadow: 0px -2px 4px #FF3,
                 0px -2px 10px #F90,
                 0px -10px 20px #C33,
                 0px -20px 40px darkred;
}
#divSun h2{
    margin-bottom: 0px;
    color: #f5f5f5;
    color: orange;
    text-shadow: 0px -2px 4px #fff,
                 0px -2px 10px #FF3,
                 0px -10px 20px #F90,
                 0px -20px 40px #C33;
}
#H2HotDragons{
    color: tomato;
}
#H2CoolDragons{
    color: lightblue;
}
#H2MiscellaneousDragons{
    color: lightgray;
}
.containerProdukte{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.mainBox{
    /*position: relative;*/
    z-index: 1;
    margin-bottom: 2em;
}
.mainBoxChild{
    display: flex;
    height: 12.5em;
    width: 100%;
    align-items:normal;
    height: auto;
}
.mainBox a{
    height:fit-content;
    width: fit-content;
}
.mainBox img{
    display: flex;
    border-style: ridge;
    border-color: grey;
    border-width: 0.313em;
}
#imgFireDragon{
    border-style: ridge;
    border-color: tomato;
    border-width: 0.313em;
}
#imgLavaDragon{
    border-style: ridge;
    border-color: darkorange;
    border-width: 0.313em;
}
#imgSunDragon{
    border-style: ridge;
    border-color: lightgoldenrodyellow;
    border-width: 0.313em;
}
.mainBoxChild div{
    margin-left: 1%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    /*backdrop-filter: blur(1em);*/
    border-radius: 1em;
}
.footercontainer{
    background-color: black;
    text-decoration: none;
    z-index: 2;
    text-align: center;
    position: sticky;
    top: 100%;
}
.footercontainer h2{
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    margin-top: 0.5em;
    margin-bottom: 15px;
}
.footercontainer div{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.footercontainer div a{
    height: 3em;
    width: 3em;
    margin: 1em;
}
#X{
    margin-top: 0.25em;
}
.footercontainer ul{
    color: #ffeeb3;
    text-align: center;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.footercontainer p{
    color: #ffeeb3;
    padding-top: 1em;
    padding-bottom: 15px;
}
.footercontainer a{
    color: #ffeeb3;
    text-decoration: none;
}
.footercontainer a:visited{
    color: whitesmoke;
}
.footercontainer a:hover{
    color: tomato;
}
.footercontainer a:active{
    color: red;
}