@font-face {
  font-family: 'Ringbearer';
  src: url(../Fonts/RINGM___.TTF);
}
@font-face {
  font-family: 'Martel';
  src: url(../Fonts/Martel-Regular.ttf);
}
@font-face {
  font-family: 'Frozen';
  src: url(../Fonts/Frozen.ttf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html{
  font-family: 'Martel', Arial;
  color: #aaa;
}
html hr{
  border-color: #ffeeb3;
}
body{
  background-color:black;
  font-family: 'Martel', Arial;
  font-size: 1em;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.divheader{
  position: fixed;
  z-index: 2;
  width: 100%;
}
.headercontainer{
  font-family: 'Ringbearer', Arial;
  color: #ffeeb3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  z-index: 2;
  background-color: black;
  text-decoration: none;
}
.headercontainer a{
  text-decoration: none;
  color: #ffeeb3;
  text-shadow: 0 0 0.6em orange;
}
.headercontainer label{
  font-size: 4em;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  white-space: nowrap;
}
.headercontainer nav{
  margin-right: 5%;
}
.headercontainer h2{
  color: #ffeeb3;
  text-shadow: 0 0 0.6em orange;
  font-size: 2em;
}
#video-background{
  position: fixed;
  width: 100%;
  z-index: -1;
}
video{
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main{
  padding-top: 20em;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1;
  background: transparent;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(15px) brightness(80%);
  
  justify-content: center;
  align-items: center;
  
  
}

.table__header{
 background-color: black;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.table__header h2{
  font-size: 20px;
}
table{
  width:100%;
  font-size: larger;
  
}
thead{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}
tr:hover {
  background-color: coral;
}
td,th{
  text-align: left;
  color: azure;
}
tbody td a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
tbody td a:hover{
  text-decoration: underline;
}



.footercontainer{
  background-color: black;
  text-decoration: none;
  z-index: 2;
  text-align: center;
  position: sticky;
  top: 100%;
}
.footercontainer h2{
  color: #ffeeb3;
  text-shadow: 0 0 0.6em orange;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.footercontainer div{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.footercontainer div a{
  height: 3em;
  width: 3em;
  margin: 1em;
}
.footercontainer ul{
  color: #ffeeb3;
  text-align: center;
  list-style-type: none;
  padding: 0%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.footercontainer p{
  color: #ffeeb3;
  padding-top: 1em;
  padding-bottom: 1em;
}
.footercontainer a{
  color: #ffeeb3;
  text-decoration: none;
}
.footercontainer a:visited{
  color: #aaa;
}
.footercontainer a:hover{
  color: tomato;
}
.footercontainer a:active{
  color: red;
}