@font-face {
    font-family: 'Ringbearer';
    src: url(../Fonts/RINGM___.TTF);
}
@font-face {
    font-family: 'Martel';
    src: url(../Fonts/Martel-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-family: 'Martel', Arial;
    color: whitesmoke;
}
html hr{
    border-color: #ffeeb3;
}
body{
    background-color:black;
    font-family: 'Martel', Arial;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.divheader{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.headercontainer{
    font-family: 'Ringbearer', Arial;
    color: #ffeeb3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    z-index: 2;
    background-color: black;
    text-decoration: none;
}
.headercontainer a{
    text-decoration: none;
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
}
.headercontainer label{
    font-size: 4em;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    white-space: nowrap;
}
.headercontainer nav{
    margin-right: 5%;
}
.headercontainer h2{
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    font-size: 2em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.MakeOffer{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  .MakeOffer h1{
    font-size: 28px;
    text-align: center;
    color: #fff;
  }
  .MakeOffer input {
    width: 45%;
    right: 10%;
    position: absolute;
    
   }
   .MakeOffer select {
    width: 45%;
    right: 10%;
    position: absolute;
   }
   
 
  .MakeOffer textarea{
    margin-top: 1em;
    justify-content: center;
    width: 100%;
    border-width: 3px;
    border-color: #ffeeb3;
  }
  .MakeOffer .btn{
    margin-top: 1em;
    width: 60%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    position:relative;
    left: 80px;
    bottom: 0px;
  }
.footercontainer{
    background-color: black;
    text-decoration: none;
    z-index: 2;
    text-align: center;
    position: sticky;
    top: 100%;
}
.footercontainer h2{
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    margin-top: 0.5em;
    margin-bottom: 15px;
}
.footercontainer div{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.footercontainer div a{
    height: 3em;
    width: 3em;
    margin: 1em;
}
#X{
    margin-top: 0.25em;
}
.footercontainer ul{
    color: #ffeeb3;
    text-align: center;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.footercontainer p{
    color: #ffeeb3;
    padding-top: 1em;
    padding-bottom: 15px;
}
.footercontainer a{
    color: #ffeeb3;
    text-decoration: none;
}
.footercontainer a:visited{
    color: whitesmoke;
}
.footercontainer a:hover{
    color: tomato;
}
.footercontainer a:active{
    color: red;
}
.background-clip{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
  }