
@font-face {
    font-family: 'Ringbearer';
    src: url(../Fonts/RINGM___.TTF);
}
@font-face {
    font-family: 'Martel';
    src: url(../Fonts/Martel-Regular.ttf);
}
@font-face {
    font-family: 'Frozen';
    src: url(../Fonts/Frozen.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-family: 'Martel', Arial;
    color: whitesmoke;
}
html hr{
    border-color: #ffeeb3;
}
body{
    background-color:black;
    font-family: 'Martel', Arial;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
header{
    font-family: 'Ringbearer', Arial;
    color: #ffeeb3;
    width: 100%;
    z-index: 2;
    background-color: black;
    text-decoration: none;
    position: fixed;
}
header nav{
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a{
    text-decoration: none;
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
}
header label{
    font-size: 4em;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    white-space: nowrap;
}
#Anmelden{
    margin-right: 5%;
}
header h2{
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    font-size: 2em;
}
video{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main{
    padding-top: 10em;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 1;
}
main h1{
    font-family: 'Martel', Arial;
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    font-size: 4em;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 1;
}
main h2{
    font-family: 'Martel', Arial;
    font-size: 2em;
    z-index: 2;
    margin-bottom: 2%;
    
}
main p{
    color: whitesmoke;
}
#H2HotDragons{
    color: #f5f5f5;
    text-shadow: 0 -2px 4px #fff,
                 0 -2px 10px #FF3,
                 0 -10px 20px #F90,
                 0 -20px 40px #C33;
}
#H2CoolDragons{
    font-family: 'Frozen', Arial;
    color: lightblue;
    text-shadow: 0 -0.125em 0.25em #fff,
                 0 -0.125em 0.625em lightblue,
                 0 -0.625em 1.25em blue,
                 0 -1.25em 2.5em darkblue;
}
#H2MiscellaneousDragons{
    color: lightgrey;
    text-shadow: 0 -0.125em 0.25em #fff,
                 0 -0.125em 0.625em lightgrey,
                 0 -0.625em 1.25em grey,
                 0 -1.25em 2.5em dimgray;
}
article{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
section{
    /*position: relative;*/
    z-index: 1;
    margin-bottom: 2em;
}
.mainBoxChild{
    display: flex;
    height: 12.5em;
    width: 100%;
    align-items:normal;
    height: auto;
}
.mainBox a{
    height:fit-content;
    width: fit-content;
}
.mainBox a{
    height:fit-content;
    width: fit-content;
}
.mainBox img{
    display: flex;
    border-style: ridge;
    border-color: grey;
    border-width: 0.313em;
}
#imgHotDragons{
    border-style: ridge;
    border-color: #ffeeb3;
    border-width: 0.313em;
}
#imgCoolDragons{
    border-style: ridge;
    border-color: lightblue;
    border-width: 0.313em;
}
#imgMiscellaneousDragons{
    border-style: ridge;
    border-color: lightgrey;
    border-width: 0.313em;
}
.mainBoxChild div{
    margin-left: 1%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    /*backdrop-filter: blur(1em);*/
    border-radius: 1em;
}
.footercontainer{
    background-color: black;
    text-decoration: none;
    z-index: 2;
    text-align: center;
    position: sticky;
    top: 100%;
}
.footercontainer h2{
    color: #ffeeb3;
    text-shadow: 0 0 0.6em orange;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.footercontainer div{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.footercontainer div a{
    height: 3em;
    width: 3em;
    margin: 1em;
}
#X{
    margin-top: 0.25em;
}
.footercontainer ul{
    color: #ffeeb3;
    text-align: center;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.footercontainer p{
    color: #ffeeb3;
    padding-top: 1em;
    padding-bottom: 1em;
}
.footercontainer a{
    color: #ffeeb3;
    text-decoration: none;
}
.footercontainer a:visited{
    color: whitesmoke;
}
.footercontainer a:hover{
    color: tomato;
}
.footercontainer a:active{
    color: red;
}
.cookie {
    position: fixed;
    bottom: 20px;
    right: 50px;
    max-width: 345px;
    width: 100%;
    background: black;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .cookie h3{
    font-family: 'Martel', Arial;
    color: #ffeeb3;
  }
  .cookie.show {
    right: 20px;
  }
  .cookie header {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  header i {
    color:#ffeeb3;
    font-size: 32px;
  }
  header h2 {
    color: #ffeeb3;
    font-weight: 500;
  }
  .cookie .data {
    margin-top: 16px;
  }
  .cookie .data p {
    color: whitesmoke;
    font-size: 16px;
  }
  .data p a {
    color: #ffeeb3;
    text-decoration: none;
  }
  .data p a:hover {
    text-decoration: underline;
  }
  .cookie .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buttons .button {
    border: none;
    color:black;
    padding: 8px 0;
    border-radius: 4px;
    background:#ffeeb3;
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: all 0.2s ease;
  }
  .buttons #acceptBtn:hover {
    background-color: #ffeeb3;
  }
  #declineBtn {
    border: 2px solid #ffeeb3;
    background-color: black;
    color:#ffeeb3;
  }
  #declineBtn:hover {
    background-color: #ffeeb3;
    color: black;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.resetpassword{
  position: relative;
  width: 460px;
  height: 500px;
  background: transparent;
  border: none;
  border-radius: 30px;
  backdrop-filter: blur(15px) brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
h1{
  font-size: 36px;
  text-align: center;
  color: #fff;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  color:#fff
 }

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9) {
  .background-clip{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip{
      width: auto;
      height: 100%;
  }
}
#loginButton{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}