@font-face {
    font-family: Ringbearer;
    src: url(Fonts/RINGM___.TTF);
}
header{
    background-color: black;
    font-family: Ringbearer, Arial;
    font-size: 50px;
    font-style:normal;
    font-weight: 100;
}
@font-face {
    font-family: Martel;
    src: url(Fonts/Martel-Regular.ttf);
}
body{
    background-color: black;
    font-family: Martel, Arial;
    font-size: 1em;
}
footer{
    background-color: black;
}

p{
    color: gold;
}

li{
    list-style-type: none;
    color: gold;
}

ol{
    color: gold;
}

hr{
    border-color: gold;
}

h1{
    color: #ffeeb3;
    text-decoration: none;
    text-transform: ;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}

#h1header{
    color: #ffeeb3;
    text-decoration: none;
    text-transform: ;
    font-size: 50px;
    text-shadow: 0 0 10px orange;
}

h2{
    color: #ffeeb3;
    text-decoration: none;
    text-transform: ;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}
