@font-face {
    font-family: Ringbearer;
    src: url(Fonts/RINGM___.TTF);
}

.navheadercontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.navheadercontainer ul{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.login{
    margin-left: 10%;
}

.register{
    margin-left: 10%;
}

.resetpassword{
    margin-left: 10%;
}

#boxheaderEmporium{
margin-left: 5%;
}

#boxheaderAnmelden{
    margin-right: 5%;
    text-align: center;
}

@font-face {
    font-family: Martel;
    src: url(Fonts/Martel-Regular.ttf);
}
body{
    background-color:black;
    font-family: Martel, Arial;
    font-size: 1em;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
}

.bodycontainerStartseite{
    display: flex;
    flex-direction: column;
}

.bodycontainerProdukt{
    display: flex;
    margin-left: 10%;
}

.bodycontainer{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

#boxh1Startseite{
    margin-left: 10%;
}

#boxBilder{
    margin-left: 10%;
}

#DragonEggName{
    
}

#FireDragonPNG{

}

footer{
    background-color: black;
    text-decoration: none;
}

p{
    color: #aaa;
}

div{
    color: #aaa;
}

#boxFireDragon{
    color:red
}

#boxfooter{
    margin: auto;
}

#textfooter{
    text-align: center;
    color: #ffeeb3;
}

li{
    color:#ffeeb3;
    text-decoration: none;
}

ol{
    margin-left: 0px;
    padding-left: 0px;
}

ul{
    color: gold;
    list-style-type: none;
    text-decoration: none;
}

#ulfooter{
    color: #ffeeb3;
    text-align: center;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 3%;
}

hr{
    border-color: #ffeeb3;
    margin-left: 0px;
    padding-left: 0px;
}

#hrtop{
    margin-left: 0px;
    padding-left: 0px;
}

h1{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}

#h1headerEmporium{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 0 0 10px orange;
}

#h1headerAnmelden{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}

h2{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}

#h2footer{
    text-align: center;
}

b{
    color: #ffeeb3;
}

#headerlinkEmporium{
    text-align: center;
    text-decoration: none;
}

#headerlinkAnmelden{
    text-align: center;
    text-decoration: none;
}

a{
    color: #ffeeb3;
    text-decoration: none;
}

a:visited{
    color: #aaa;
}

a:hover{
    color: tomato;
}

a:active{
    color: red;
}

audio{
    display: none;
}
