@font-face {
    font-family: Ringbearer;
    src: url(Fonts/RINGM___.TTF);
}
header{
    background-color: black;
    font-family: Ringbearer, Arial;
    font-size: 50px;
    font-style:normal;
    font-weight: 100;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box{
    align-self: center;
}

#boxheaderEmporium{
margin-left: 5%;
}

#boxheaderAnmelden{
    margin-right: 5%;
}

@font-face {
    font-family: Martel;
    src: url(Fonts/Martel-Regular.ttf);
}
body{
    background-color:black;
    font-family: Martel, Arial;
    font-size: 1em;
    margin-left: 0px;
    margin-right: 0px;
}
footer{
    background-color: black;
}

p{
    color: #aaa;
}

div{
    color: #aaa;
}

#divbody{
    margin-left: 10%;
}

#divheader{
    margin:0px
}

#boxFireDragon{
    color:red
}

#boxfooter{
    margin: auto;
}

li{
    color:#ffeeb3;
}

ol{
    margin-left: 0px;
    padding-left: 0px;
}

ul{
    color: gold;
}

#ulfooter{
    color: #ffeeb3;
    text-align: center;
    list-style-type: none;
    padding: 0%;
}

hr{
    border-color: #ffeeb3;
    margin-left: 0px;
    padding-left: 0px;
}

#hrtop{
    margin-left: 0px;
    padding-left: 0px;
}

h1{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}

#h1header{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 0 0 10px orange;
}

#headertest{
    margin-left: 5%;
}

h2{
    color: #ffeeb3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0 10px orange;
}

#h2footer{
    text-align: center;
}

b{
    color: #ffeeb3;
}

#headerlink{
    text-align: center;
    text-decoration: none;
}

a{
    color: #ffeeb3;
}

a:visited{
    color: #aaa;
}

a:hover{
    color: tomato;
}

a:active{
    color: red;
}